.getCohorts select, .getGroups select {
    width: 400px;
    height: 28px;
    margin-right: 10px;
}

.getCourses select {
    width: 400px;
    max-height: 600px;
    margin-right: 10px;
}

.block-left, .block-right {
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

.block-right {
  padding-top: 12px;
}
